body{
  height: 100%; 
  text-align: center; 
  background-color: #F5F4FB; 
  background-size: cover; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-color: black;
}
h1 {
  color: black;
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
p{
  font-size: 18px;
}

ol{
  margin-top: 0; 
  padding: 0; 
}
header{
  overflow: hidden; 
}
#top-header{
  text-align: center;
  height: 60%;
}
#menu{
  float: right;
  width: 70%;
  height: 100%; 
  margin: none;
}
#menu ul{
  text-align: center;
  float: right;
  margin: none;
  background: #F5F4FB;
}
#menu li{
  display: inline-block;
  padding: none;
  margin: none;
}
#menu li a {
  display: inline-block; 
  padding: 0em 1.5em;
  text-decoration: none;
  font-weight: bold; 
  line-height: 35px;
  text-transform: uppercase; 
  color: black; 
}
#menu li:hover{ 
  background-color: #390CFF;
  color: black;
  border-left: 4px solid black;
  border-right: 4px solid black; 
}
#menu li a:hover{
  color:white; 
}

.info1{
  padding-left: 100px;
  padding-right: 100px;
}
